html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
}

/* css for login */

.footerContainer{
    justify-content: space-around;
    height: 200px;

}

.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    border-left: 2px white solid;
    border-right: 2px white solid;
    height: 30%;
    margin-top: 160px;
    color: white;
    height: 400px;
    align-items: center;
}

.loginBody{
    display: flex;
    justify-content: space-around;
    width: 60%;

}

.loginPostbody{
    height: 90vh;
    display: flex;
    justify-content: center;
}

body {
    background-color: #193c6d;
    background-image: linear-gradient(135deg, #003073, #029797);
    text-align: center;
    margin: 0px;
    overflow: hidden;
}

.loginContainer h5, h1{
    margin: 0px;
}

.loginContainer h5{
    margin: 0px;
    font-size: 20px;
    
}


.loginContainer h1{
    margin: 0px;
    margin-top: 20px;
}

.loginContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field{
    background-color: transparent;
    margin: 5px;
    border: none;
    border-bottom: 2px white solid;
    color: white;
    height: 50px;
    width: 250px;
    transition: ease-in-out, width .35s ease-in-out;
}

.field:hover,:focus{
    background-color: transparent;
    width:  350px;
    transition: ease-in-out, width .35s ease-in-out;
}

.field::placeholder {
    color:  #003070;
    filter: invert(1);
}

.button{
    background-color: transparent;
    margin: 15px;
    color: white;
    width: 100px;
    height: 25px;
    transition: ease-in-out, height .20s ease-in-out;
    border-radius: 10px;
    border: white 2px solid;
}

.button:hover, :focus{
    height: 50px;
    background-color: transparent;
}

a{
    color: white;
    text-decoration: none;
    font-weight: 100;
}

a:hover{
    color:  #003070;
    filter: invert(1);
}

/* css for register */


.buttonReg{
    background-color: transparent;
    margin: 15px;
    color: white;
    width: 100px;
    height: 25px;
    transition: ease-in-out, height .20s ease-in-out;
    border-radius: 10px;    
}

.buttonReg:hover, :focus{
    height: 50px;
    background-color: transparent;

}
